<% if current_user.admin? %>
  <% if @user.admin? %>
    <h3><em>Admin</em></h3>
  <% else %>
    <h3><em>Non-Admin</em></h3>
  <% end %>
<% end %>

<% if @user_active_foster_homes.empty? && @user_inactive_foster_homes.empty? %>
  <h3><%= @user.last_name %> is available for new case assignments.</h3>
<% else %>
  <% if !@user_active_foster_homes.empty? %>
    <h3><%= @user.last_name %>'s Active Cases</h3>
    <ul>
      <% @user_active_foster_homes.each do |active_foster_home| %>
        <li>
          <%= link_to "#{active_foster_home.foster_kid.last_name}", foster_home_path(active_foster_home) %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if !@user_inactive_foster_homes.empty? %>
    <h3><%= @user.last_name %>'s Archived Cases</h3>
    <ul>
      <% @user_inactive_foster_homes.each do |inactive_foster_home| %>
        <li>
          <%= link_to "#{inactive_foster_home.foster_kid.last_name}", foster_home_path(inactive_foster_home) %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

  <% if current_user.admin? && @user != current_user %>
    | <%= link_to "Remove User From Site", admin_user_path(@user), method: :delete %> |
    <%= link_to "Update User's Privileges", update_status_path(@user) %> |
  <% end %>
