<% if user_signed_in? %>

  <% if current_user.admin? %>

  <%= form_tag(admin_users_path, :method => "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>

    <h1>Admin Dashboard</h1>
      <%= link_to "Add Child", new_foster_kid_path %>
      <br>
      <%= link_to "Add Foster Parent", new_foster_parent_path %>
      <br>
      <%= link_to "Create Home Assignment", new_foster_home_path %>
      <br>
      <%= link_to "See All Homes", foster_homes_path %>
      <br>
      <%= link_to "See All Foster Parents", foster_parents_path %>
      <br>
      <%= link_to "See All Foster Children", foster_kids_path %>
      <br>
  <% end %>

<% end %>
