<% if user_signed_in? %>
  <% if current_user.admin? %>

    <div class="row">
      <div class="small-6 small-centered columns">
        <h4>Admin Dashboard</h4>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <%= form_tag(admin_users_path, :method => "get") do %>
          <%= label_tag "Find Social Worker", params[:search] %>
          <%= select_tag :search, options_for_select(@user_results) %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
      </div>
    </div>
    <div class="actions row">
      <div class="small-12 columns">
        <%= link_to "Add Child", new_foster_kid_path %>
        <br>
        <%= link_to "Add Foster Parent", new_foster_parent_path %>
        <br>
        <%= link_to "Assign Case", new_foster_home_path %>
        <br>
        <%= link_to "See All Cases", foster_homes_path %>
        <br>
        <%= link_to "See All Foster Parents", foster_parents_path %>
        <br>
        <%= link_to "See All Foster Children", foster_kids_path %>
        <br>
        <%= link_to "See All Social Workers", admin_users_path %>
        <br>
      </div>
    </div>

  <% end %>
<% end %>
