<% if user_signed_in? %>
  <% if current_user.admin? %>

    <div class="row">
      <div class="small-6 small-centered columns">
        <h4>Admin Dashboard</h4>
      </div>
    </div>
    <div class="dashboard row">
      <div class="small-12 columns">
        <%= form_tag(admin_users_path, :method => "get") do %>
          <%= label_tag "Find Social Worker", params[:search] %>
          <%= select_tag :search, options_for_select(@user_results), include_blank: true %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
      </div>
    </div>
    <div class="dashboard actions row">
      <div class="small-12 columns">
        <%= link_to "See All Cases", foster_homes_path %>
        <br>
      </div>
    </div>

    <div class="dashboard row">
      <div class="small-12 small-centered columns">
        <ul class="tabs" data-tab>
          <li class="tab-title active"><a href="#panel1">Create Case</a></li>
          <li class="tab-title"><a href="#panel2">Add Foster Youth</a></li>
          <li class="tab-title"><a href="#panel3">Add Foster Parent</a></li>
          <li class="tab-title"><a href="#panel4">See All...</a></li>
        </ul>
        <div class="tabs-content">
          <div class="content active" id="panel1">
            <%= render "create_case" %>
          </div>
          <div class="content" id="panel2">
            <%= render "create_youth" %>
          </div>
          <div class="content" id="panel3">
            <%= render "create_parent" %>
          </div>
          <div class="content" id="panel4">
            <%= link_to "See All Foster Parents", foster_parents_path %>
            <br>
            <%= link_to "See All Foster Youth", foster_kids_path %>
            <br>
            <%= link_to "See All Social Workers", admin_users_path %>
            <br>
          </div>
        </div>
      </div>
    </div>

  <% else %>
    <h3>Welcome, <%= @user.first_name %> <%= @user.last_name %>!</h3>
      <% if !@user_active_foster_homes.empty? %>
        <h3>Your active cases:</h3>
        <% @user_active_foster_homes.each do |active_foster_home| %>
          <ul>
            <li><%= link_to active_foster_home.foster_kid.first_name + " " + active_foster_home.foster_kid.last_name, foster_home_path(active_foster_home) %></li>
          </ul>
        <% end %>
      <% else %>
        <h3><em>You do not currently have any active cases.</em></h3>
      <% end %>
      <% if !@user_inactive_foster_homes.empty? %>
      <h3>Your archived cases:</h3>
      <% @user_inactive_foster_homes.each do |inactive_foster_home| %>
        <ul>
          <li><%= link_to inactive_foster_home.foster_kid.first_name + " " + inactive_foster_home.foster_kid.last_name, foster_home_path(inactive_foster_home) %></li>
        </ul>
      <% end %>
    <% else %>
      <h3><em>You do not currently have any archived cases.</em></h3>
    <% end %>
  <% end %>
<% end %>

<script>
  $(document).foundation();
</script>
