<% if user_signed_in? %>
  <% if current_user.admin? %>

    <div class="row">
      <div class="small-6 small-centered columns">
        <h4>Admin Dashboard</h4>
      </div>
    </div>
    <div class="dashboard row">
      <div class="small-12 columns">
        <%= form_tag(admin_users_path, :method => "get") do %>
          <%= label_tag "Find Social Worker", params[:search] %>
          <%= select_tag :search, options_for_select(@user_results) %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
      </div>
    </div>
    <div class="dashboard actions row">
      <div class="small-12 columns">
        <%= link_to "See All Cases", foster_homes_path %>
        <br>
        <%= link_to "See All Foster Parents", foster_parents_path %>
        <br>
        <%= link_to "See All Foster Children", foster_kids_path %>
        <br>
        <%= link_to "See All Social Workers", admin_users_path %>
        <br>
      </div>
    </div>

    <div class="dashboard row">
      <div class="small-12 small-centered columns">
        <ul class="tabs" data-tab>
          <li class="tab-title active"><a href="#panel1">Create Case</a></li>
          <li class="tab-title"><a href="#panel2">Add Foster Youth</a></li>
          <li class="tab-title"><a href="#panel3">Add Foster Parent</a></li>
        </ul>
        <div class="tabs-content">
          <div class="content active" id="panel1">
            <%= render "create_case" %>
          </div>
          <div class="content" id="panel2">
            <%= render "create_youth" %>
          </div>
          <div class="content" id="panel3">
            <%= render "create_parent" %>
          </div>
        </div>
      </div>
    </div>

  <% end %>
<% end %>

<script>
  $(document).foundation();
</script>
