<h3>Update Foster Parent Information</h3>

<%= form_for @foster_parent do |f| %>
    <%= hidden_field_tag "route", request.env['PATH_INFO'] %>
    <div class="field">
      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="actions">
      <%= f.submit "Update Foster Parent Information", class: "button round submit" %>
    </div>
<% end %>
