<h3>Update Case Assignment</h3>
  <%= form_for @foster_home do |f| %>
    <div class="field">
      <%= f.label :user_id, "Assign To:" %>
      <%= f.select(:user_id, options_for_select(@user_results)) %>
    </div>

    <div class="field">
      <%= f.label :active, "Active?" %>
      <%= f.check_box :active %>
    </div>

    <div class="actions">
      <%= f.submit "Update Case", class: "button round submit" %>
    </div>
  <% end %>
