<h3>Case Information</h3>

<% if @foster_home.active? %>
  <h3><em>Active</em></h3>
<% else %>
  <h3><em>Archived</em></h3>
<% end %>

<ul>
  <% unless @foster_home.user.nil? %>
    <li>Social Worker: <%= @foster_home.user.last_name %></li>
  <% else %>
    <li>Social Worker: Unassigned</li>
  <% end %>
    <li>Foster Youth: <%= @foster_home.foster_kid.last_name %></li>
    <% unless @foster_home.foster_parent.nil? %>
      <li>Foster Parent: <%= @foster_home.foster_parent.last_name %></li>
    <% else %>
      <li>Foster Parent: Unassigned</li>
    <% end %>
</ul>

<script src="//code.highcharts.com/highcharts.js"></script>
<div id="container" style="width:100%; height:400px;">
  <%= render "data" %>
</div>

<h3>Reviews</h3>
  <% if !@all_home_reviews_by_date.nil? %>
    <% @all_home_reviews_by_date.each do |date, reviews| %>
      <ul>
        <h3><%= date.strftime("%m/%d/%Y") %></h3>
        <% reviews.each do |review| %>
          <% if @foster_kid_reviews.include?(review) %>
          <h3>Foster Youth Review</h3>
          <% end %>
          <% if @foster_parent_reviews.include?(review) %>
          <h3>Foster Parent Review</h3>
          <% end %>
          <% if @social_worker_reviews.include?(review) %>
          <h3>Social Worker Review</h3>
          <% end %>
            <li>Rating: <%= review.rating %></li>
            <li>Comment: <%= review.comment %></li>
        <% end %>
        <br>
      </ul>
    <% end %>
  <% end %>

<% if current_user.admin? %>
  <%= link_to "Reassign Case", edit_foster_home_path(@foster_home) %> |
  <%= link_to "Unassign Case", foster_homes_unassign_path(@foster_home) %> |
<% end %>

<%= link_to "Edit Foster Youth Information", edit_foster_kid_path(@foster_kid) %> |

<% unless @foster_home.foster_parent.nil? %>
  <%= link_to "Edit Foster Parent Information", edit_foster_parent_path(@foster_parent) %> |
<% end %>

<%= link_to "Add Foster Youth Review", new_foster_home_foster_kid_review_path(@foster_home, @foster_kid_review) %> |

<% unless @foster_home.foster_parent.nil? %>
  <%= link_to "Add Foster Parent Review", new_foster_home_foster_parent_review_path(@foster_home, @foster_parent_review) %> |
<% end %>

<%= link_to "Add Social Worker Review", new_foster_home_social_worker_review_path(@foster_home, @social_worker_review) %> |
