<h3>New Review for <%= @foster_home.foster_kid.last_name %>'s Foster Home </h3>

    <h3>Reviewer Type: Foster Parent</h3>

    <%= form_for [@foster_home, @foster_parent_review] do |f| %>

      <div class="field">
        <%= f.label :rating, "On a scale of 0-10, where 0 is not likely and 10 is extremely likely, how likely are you to recommend this foster home to another foster parent?"%>
        <br />
        <%= f.label :rating, "0"%>
        <%= f.radio_button :rating, 0 %>
        <%= f.label :rating, "1"%>
        <%= f.radio_button :rating, 1 %>
        <%= f.label :rating, "2"%>
        <%= f.radio_button :rating, 2 %>
        <%= f.label :rating, "3"%>
        <%= f.radio_button :rating, 3 %>
        <%= f.label :rating, "4"%>
        <%= f.radio_button :rating, 4 %>
        <%= f.label :rating, "5"%>
        <%= f.radio_button :rating, 5 %>
        <%= f.label :rating, "6"%>
        <%= f.radio_button :rating, 6 %>
        <%= f.label :rating, "7"%>
        <%= f.radio_button :rating, 7 %>
        <%= f.label :rating, "8"%>
        <%= f.radio_button :rating, 8 %>
        <%= f.label :rating, "9"%>
        <%= f.radio_button :rating, 9 %>
        <%= f.label :rating, "10"%>
        <%= f.radio_button :rating, 10 %>
      </div>

      <div class="field">
        <%= f.label :comment, "We appreciate your feedback! Please explain why you rated your foster home experience the way you did." %>
        <%= f.text_field :comment %>
      </div>

      <div class="actions ">
        <%= f.submit class: "button round form-button" %>
      </div>
    <% end %>

    <%= link_to "Back", foster_home_path(@foster_home) %>
