<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Rate My Foster Home" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Rate My Foster Home", home_path %></h1>
        </li>

        <li class="toggle-topbar menu-icon">
          <a href="/"><span>Rate My Foster Home</span></a>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <% if user_signed_in? %>
            <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            <li class="has-dropdown">
              <a href="#">
                <%= current_user.first_name %>
              </a>
              <ul class="dropdown">
                <li class="drop-link"><%= link_to "Edit My Account", edit_user_registration_path %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Register", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>

     <% flash.each do |key, value| %>
          <%= value %>
     <% end %>

    <%= yield %>

  </body>

</html>
